<div class="row">
    <div class="small-10 small-offset-1 large-8 large-offset-2 columns">
        <h1>Hi there!</h1>
        <p>My main goal for this project is to combine my favorite parts of other todo apps I've used into a simple to use, super helpful tool.</p>
        <p>It's a WIP, but feel free to give 'er a spin.</p>
    </div>
</div>
